<!--The content below is only a placeholder and can be replaced.-->

<h1>{{title}}</h1>
  <form [formGroup]="optionForm" (ngSubmit)="onSubmit()">
  <input hidden formControlName="_id">
  <input hidden formControlName="price">
  <label for="make">make</label>
  <input type="text" id="make" formControlName="make"><br>
  <label for="year">year</label>
  <input type="number" id="year" formControlName="year"><br>
  <label for="color">color</label>
  <select formControlName="color" name="color" >
    <option value="">Please choose a color</option>
    <option value="Red">Red</option>
    <option value="White">White</option>
    <option value="Gray">Gray</option>
    <option value="Silver">Silver</option>
    <option value="Black">Black</option>
  </select><br>
  <label for="hasSunroof">hasSunroof</label>
  <input type="checkbox" formControlName="hasSunroof" id="hasSunroof"><br>
  <label for="isFourWheelDrive">isFourWheelDrive</label>
  <input type="checkbox"  id="isFourWheelDrive" formControlName="isFourWheelDrive"><br>
  <label for="hasLowMiles">hasLowMiles</label>
  <input type="checkbox"  id="hasLowMiles" formControlName="hasLowMiles"><br>
  <label for="hasPowerWindows">hasPowerWindows</label>
  <input type="checkbox"  id="hasPowerWindows" formControlName="hasPowerWindows"><br>
  <label for="hasNavigation">hasNavigation</label>
  <input type="checkbox"  id="hasNavigation" formControlName="hasNavigation"><br>
  <label for="hasHeatedSeats">hasHeatedSeats</label>
  <input type="checkbox"  id="hasHeatedSeats" formControlName="hasHeatedSeats"><br>
  <button type="submit">search</button>
</form>

<table *ngIf="gotthecars">
  <tr>
    <th>make</th>
    <th>year</th>
    <th>price</th>
    <th>color</th>
    <th>hasSunroof</th>
    <th>isFourWheelDrive</th>
    <th>hasLowMiles</th>
    <th>hasPowerWindows</th>
    <th>hasNavigation</th>
    <th>hasHeatedSeats</th>
  </tr>
  <tr *ngFor="let car of cars">
    <td>{{car.make}}</td>
    <td>{{car.year}}</td>
    <td>{{car.price}}</td>
    <td>{{car.color}}</td>
    <td>{{car.hasSunroof? "yes": "no"}}</td>
    <td>{{car.isFourWheelDrive? "yes": "no"}}</td>
    <td>{{car.hasLowMiles? "yes": "no"}}</td>
    <td>{{car.hasPowerWindows? "yes": "no"}}</td>
    <td>{{car.hasNavigation? "yes": "no"}}</td>
    <td>{{car.hasHeatedSeats? "yes": "no"}}</td>
  </tr>
</table>
